* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Muli", sans-serif;
  font-weight: 600;
  display: flex;
  height: 100vh;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.container {
  display: flex;
  width: 90vw;
  justify-content: center;
}

.panel {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  border-radius: 50px;
  height: 70vh;
  margin: 10px;
  cursor: pointer;
  flex: 0.5;
  position: relative;
  transition: flex 0.7s ease-in;
}

.panel h3 {
  position: absolute;
  font-size: 21px;
  bottom: 20px;
  left: 20px;
  opacity: 0;
  margin: 0;
}

.panel.active {
  flex: 5;
}

.panel.active h3 {
  opacity: 1;
  transition: opacity 0.5s ease-in 0.3s;
}

@media (max-width: 480px) {
  .container {
    width: 100vw;
  }
  .panel:nth-last-of-type(4),
  .panel:nth-of-type(5) {
    display: none;
  }
}
